<mat-toolbar color="primary">
    <span class="toolbar-title">{{ group()?.name || 'Group' }}</span>

    <span class="spacer"></span>

    <button mat-button (click)="startStudy()">
        <mat-icon>school</mat-icon>
        Study
    </button>

    <mat-menu #groupMenu="matMenu">
        <button mat-menu-item (click)="onEditGroup()">
            <mat-icon>edit</mat-icon>
            Edit group
        </button>

        <button mat-menu-item (click)="onDeleteGroup()">
            <mat-icon color="warn">delete</mat-icon>
            Delete group
        </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="groupMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <!-- <button mat-button (click)="onCreateFlashcard()">
        <mat-icon>add</mat-icon>
        Add Flashcard
    </button>

    <button mat-button (click)="onEditGroup()">
        <mat-icon>edit</mat-icon>
        Edit
    </button>

    <button mat-button (click)="onDeleteGroup()">
        <mat-icon>delete</mat-icon>
        Delete
    </button> -->
</mat-toolbar>

<div class="container">
    @if (loading()) {
        <p>Loading flashcards...</p>
    } @else {
        <!-- <div class="actions"> -->
            <!-- @if (flashcards().length == 0) {
                <button mat-raised-button color="primary" (click)="onCreateFlashcard()">
                    <mat-icon>add</mat-icon>
                    Add first flashcard
                </button>
            } @else {
                <button mat-raised-button color="primary" (click)="onCreateFlashcard()">
                    <mat-icon>add</mat-icon>
                    Add Flashcard
                </button>
            } -->
            
<!-- 
            <button mat-raised-button color="primary" (click)="onEditGroup()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>

            <button mat-raised-button color="primary" (click)="onDeleteGroup()">
                <mat-icon>delete</mat-icon>
                Delete
            </button> -->
        <!-- </div> -->

        @if (flashcards().length == 0) {
            <p>No flashcards yet</p>
        } @else {
            <h2>Flashcards</h2>
        }

        <!-- @if (flashcards().length > 0) {
            <button mat-raised-button color="primary">
                <mat-icon>school</mat-icon>
                Start study flashcards
            </button>
        } -->
        

        <!-- TODO: Continue button -->

        <div class="list">
            @for (card of flashcards(); track $index) {
                <mat-card class="flashcard-card" (click)="openFlashcard($index)">
                    <mat-card-title class="card-title">
                        {{ card.frontText }}
                    </mat-card-title>
                </mat-card>
            }
        </div>

        <!-- TODO: add FAB add flashcards button (optional) -->
        <!-- <button mat-fab color="primary" class="fab" (click)="onCreateFlashcard()">
            <mat-icon>add</mat-icon>
        </button> -->
        <button mat-fab color="primary" class="fab" (click)="onCreateFlashcard()">
            <mat-icon>add</mat-icon>
        </button>
    }
</div>