.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.spacer {
    flex: 1;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.flashcard-card {
    cursor: pointer;
    padding: 12px;
    transition: 0.2 ease;
}

.flashcard-card:hover {
    transform: translateY(-2px);
}

// .actions {
//     display: flex;
//     flex-direction: row;
//     gap: 8px;
// }

// TODO: hack to hide mat-menu groupMenu borders 
// button {
//     border: none;
//     cursor: pointer;
//     background: transparent;
// }

.fab {
    position: fixed;
    bottom: 84px;
    right: 20px;
}

// TODO: add mobile version